h1 {
  color: green;
}

.box {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid black;
  padding-bottom: 20px;
}

.btn {
  width: 40px;
  height: 40px;
  background-color: chartreuse;
  outline: 2px solid grey;
}
